name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  # https://github.com/actions/virtual-environments/tree/main/images/macos
  DEVELOPER_DIR: /Applications/Xcode_12.2.app/Contents/Developer

jobs:
  job-build-and-run:
    name: Build and Run
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: |
          xcrun simctl delete unavailable
          xcrun simctl list

      - name: swift build
        run: swift build

      - name: swift run
        run: swift run
