name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DEVELOPER_DIR: /Applications/Xcode_11.4.app/Contents/Developer

jobs:
  job-compile:
    name: Compile
    runs-on: macOS-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v1

      - name: xcode version
        run: xcodebuild -version -sdk
      
      - name: list simulators
        run: |
          xcrun simctl delete unavailable
          xcrun simctl list

      - name: compile
        run: swiftc nine41.swift
